/* 
--- 01 TYPOGRAPHY SYSTEM

- Font size system (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Font heights:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing:
0.5px
0.75

--- 02 COLORS
#F9F7F7 #DBE2EF #3F72AF #112D4E
- Primary: 
- Tints: 
- Shades: 
- Accents:
- Greys: #555 #333 #767676 (lightest grey allowed on white) #888

--- 05 SHADOWS
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS
Default: 9px
Medium: 11px
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/************************/
/* GENERAL REUSABLE COMPONENTS */
/************************/
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.heading-primary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem; 
}