/* - Font size system (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* === Media Queries === */

/* BELLOW  1104px */
@media (max-width: 69rem) {
  html {
    font-size: 56.25%;
  }
  .heading-primary {
    font-size: 4.2rem;
  }
}

/* BELLOW  912px */
@media (max-width: 57rem) {
  
}
