/* - Font size system (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

/* === Media Queries === */

/* BELLOW  1104px */
@media (max-width: 69rem) {
  html {
    font-size: 56.25%;
  }
  .heading-primary {
    font-size: 4.2rem;
  }
}

/* BELLOW  912px */
@media (max-width: 57rem) {
  html {
    font-size: 50%;
  }

  .hero-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    white-space: nowrap;
  }
  .hero-img {
    min-width: 40rem;
  }
  .heading-primary {
    font-size: 3.6rem;
  }
  .hero-description {
    font-size: 1.8rem;
  }

  .section-skills {
    padding: 9.6rem 0 6.4rem 0;
  }
  .skills-container {
    row-gap: 4.8rem;
  }

  .section-projects {
    padding: 6.4rem 0 9.6rem 0;
  }
  .project-card {
    min-height: auto;
  }

  .heading-secondary-cta {
    font-size: 3.6rem;
  }
  .cta-description {
    font-size: 1.8rem;
  }
}

/* BELLOW 736px */
@media (max-width: 46rem) {
  /* MOBILE NAV */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  .main-nav {
    background-color: hsla(196, 77%, 14%, 0.97);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.4rem;
  }

  .hero {
    grid-template-columns: 1fr;
  }
  .hero-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .hero-img-box {
    display: flex;
    justify-content: center;
  }
  .hero-img {
    width: 70%;
    max-width: 40rem;
    height: auto;
  }

  .timeline {
    grid-template-columns: 1fr;
  }

  .skills-container {
    column-gap: 4.8rem;
    row-gap: 3.2rem;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6.4rem;
  }
  .project-card {
    min-height: 50rem;
    max-width: 35rem;
    width: 100%;
  }
}

/* BELLOW 560px */
@media (max-width: 35rem) {
  .section-skills {
    padding: 9.6rem 0 4.8rem 0
  }
  .skills-container {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .skills-language { order: 1; }
  .sills-list:nth-of-type(1) {order: 2;}
  .skills-tools { order: 3;}
  .skills-list:nth-of-type(2) {order: 4;}
  .skills-languages {
    margin-top: 0.4rem;
  }
  .skills-description {
    margin-bottom: 0;
  }
  .skills-list {
    margin-bottom: 3.2rem;
  }
  
  .section-projects {
    padding: 4.8rem 0 6.4rem 0;
  }
  .projects {
    margin: 6.4rem auto;
  }
  .project-card {
    min-height: 40rem;
    max-width: 35rem;
    width: 100%;
  }
  
}