/************************/
/* STICKY HEADER */
/************************/

.header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(196, 77%, 14%, 0.95);
  height: 6.4rem;
  padding: 0 4.8rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.075);
}

.logo:link,
.logo:visited {
  font-size: 2.2rem;
  text-decoration: none;
  color: var(--color-description);
  font-weight: 600;
  transition: all 0.3s;
}

/************************/
/* NAVIGATION */
/************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-text-primary);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active,
.logo:hover,
.logo:active {
  color: var(--color-text-hover);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: var(--color-text-primary);
  background-color: var(--color-button);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--color-button-hover);
}

/* MOBILE */

.btn-mobile-nav {
  display: none;
}

/************************/
/* HERO SECTION */
/************************/
.section-hero {
  position: relative;
  overflow: hidden;
  background-color: var(--color-background);
  padding: 6.4rem 0 ;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: var(--color-description)
}

.hero-img {
  width: 100%;
}

/************************/
/* SNOWFLAKES */
/************************/
.snowflakes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.snowflake {
  color: #fff;
  font-size: 2.5em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

.snowflake,
.snowflake .inner {
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes snowflakes-fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110vh);
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake {
  position: absolute;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  pointer-events: none;
  animation-name: snowflakes-shake;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
.snowflake .inner {
  animation-duration: 10s;
  animation-name: snowflakes-fall;
  animation-timing-function: linear;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(0) .inner {
  animation-delay: 0s;
}
.snowflake:first-of-type {
  left: 10%;
  animation-delay: 1s;
}
.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
  animation-delay: 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 0.5s;
}
.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
  animation-delay: 6s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
  animation-delay: 4s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
  animation-delay: 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 3s;
}
.snowflake:nth-of-type(5) .inner {
  animation-delay: 8s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 1s;
}
.snowflake:nth-of-type(7) .inner {
  animation-delay: 2.5s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 1.5s;
}
.snowflake:nth-of-type(9) .inner {
  animation-delay: 3s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(11) {
  left: 65%;
  animation-delay: 2.5s;
}

/************************/
/* ABOUT ME SECTION */
/************************/
.section-about {
  position: relative;
  padding: 9.6rem 0;
  background-color: var(--color-white-background);
  overflow: hidden;
}

.section-about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("/mountain.jpg"); /* substitua pelo caminho da sua imagem */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  opacity: 0.15; /* controla a opacidade da imagem */
  filter: grayscale(100%) brightness(120%); /* deixa mais clara e neutra */
  z-index: 0;
}

.about-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: var(--color-text-grey);
}

.timeline {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.timeline-title {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: var(--color-button);
  letter-spacing: -0.5px;
}

.timeline-subtitle {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 700;
  color: var(--color-text-grey);
}

.timeline-box {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: var(--color-text-grey);
}

.timeline-box:last-child {
  margin-bottom: 0;
}

/************************/
/* SKILLS SECTION */
/************************/
.section-skills {
  padding: 9.6rem 0;
  background-color: var(--color-white-background);
}

.skills-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 9.6rem;
  row-gap: 8rem;
  align-items: center;
}

.skills-languages {
  margin-top: 4.8rem;
}

.skills-icon-container {

}

.skills-icon {
  color: var(--color-background);
  height: 3rem;
  width: 3rem;
  background-color: #DBE2EF;
  padding: 1.6rem;
  border-radius: 50%;
  margin-bottom: 2.4rem;
}

.skills-subtitle {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: var(--color-button);
  letter-spacing: -0.5px;
}

.skills-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: var(--color-text-grey);
}

.skills-list {
  width: 100%;
  background-color: #DBE2EF;
  border-radius: 11px;
  padding: 2.4rem 3.2rem;
  box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.05);
}

.chart-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: var(--color-button);
}

.chart-bar {
  width: 100%;
  height: 2rem;
  background-color: #fefefe;
  margin-bottom: 1.6rem;
  border-radius: 6px;
}

.chart-bar-fill {
  height: 100%;
  background-color: var(--color-button);
  border-radius: 6px;
}

.skills-list > div:last-child .chart-bar {
  margin-bottom: 0.3rem;
}

.python {
  width: 55%;
}

.html-css {
  width: 75%;
}

.javascript {
  width: 80%;
}

.react {
  width: 10%;
}

.react-native {
  width: 15%;
}

.pycharm {
  width: 25%;
}

.vscode {
  width: 40%;
}

.figma {
  width: 33%;
}

.github {
  width: 25%;
}

/************************/
/* PROJECTS SECTION */
/************************/
.section-projects {
  padding: 6.4rem 0 9.6rem 0;
  background-color: var(--color-white-background);
}

.projects {
  margin: 9.6rem auto ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4.8rem;
  align-items: center;
}

.project-card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.3s;
}

.project-card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.project-card-img {
  position: relative;
}

.project-img {
  width: 100%;
}

.project-links {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 0.8rem;
}

.project-link-icon {
}

.project-link:link, .project-link:visited {
  text-decoration: none;
  color: var(--color-description);
  background-color: var(--color-button);
  padding: 1.2rem 2.4rem;
  border-radius: 11px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.3s;
}

.project-link:hover, .project-link:active {
  background-color: var(--color-button-hover);
} 

.project-icon {
  color: var(--color-description);
}

.project-icon-text {

}

.project-card-content {
  padding: 0 4.8rem 4.8rem 4.8rem;
}

.project-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.project-tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
  background-color: #DBE2EF;
}

.project-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.project-text {
  font-size: 1.8rem;
  text-align: center;
}

.all-projects {
  text-align: center;
  font-size: 1.8rem;
}

.all-projects-link:link, .all-projects-link:visited {
  text-decoration: none;
  color: var(--color-background);
  transition: all 0.3s;
} 

.all-projects-link:hover, .all-projects-link:active {
  color: var(--color-text-hover);
}

/************************/
/* CTA SECTION */
/************************/
.section-cta {
  padding: 9.6rem 0;
  background-color: var(--color-background);
}

.cta {

}

.heading-secondary-cta {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 4.8rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: var(--color-text-primary);
}

.cta-description {
  font-size: 2rem;
  line-height: 1.6;
  color: var(--color-description);
  margin-bottom: 4.8rem;
}

.cta-invite {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: var(--color-ice)
}

.contact-links {

}

.contact-link {

}

.contact-icon {

}

/* 
- adicionar música
- fazer cta com vídeo de fundo
- fazer footer
- personalizar focus
- adicionar efeitos js
*/