/************************/
/* STICKY HEADER */
/************************/

.header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsla(196, 77%, 14%, 0.95);
  height: 6.4rem;
  padding: 0 4.8rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.075);
}

.logo:link,
.logo:visited {
  font-size: 2.2rem;
  text-decoration: none;
  color: var(--color-description);
  font-weight: 600;
  transition: all 0.3s;
}

/************************/
/* NAVIGATION */
/************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-text-primary);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active,
.logo:hover,
.logo:active {
  color: var(--color-text-hover);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: var(--color-text-primary);
  background-color: var(--color-button);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--color-button-hover);
}

/* MOBILE */

.btn-mobile-nav {
  display: none;
}

/************************/
/* HERO SECTION */
/************************/
.section-hero {
  position: relative;
  overflow: hidden;
  background-color: var(--color-background);
  padding: 6.4rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: var(--color-description)
}

.hero-img {
  width: 100%;
}

/************************/
/* SNOWFLAKES */
/************************/
.snowflakes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.snowflake {
  color: #fff;
  font-size: 2.5em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

.snowflake,
.snowflake .inner {
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes snowflakes-fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110vh);
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
}
.snowflake {
  position: absolute;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  pointer-events: none;
  animation-name: snowflakes-shake;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}
.snowflake .inner {
  animation-duration: 10s;
  animation-name: snowflakes-fall;
  animation-timing-function: linear;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(0) .inner {
  animation-delay: 0s;
}
.snowflake:first-of-type {
  left: 10%;
  animation-delay: 1s;
}
.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
  animation-delay: 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 0.5s;
}
.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
  animation-delay: 6s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
  animation-delay: 4s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
  animation-delay: 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 3s;
}
.snowflake:nth-of-type(5) .inner {
  animation-delay: 8s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 1s;
}
.snowflake:nth-of-type(7) .inner {
  animation-delay: 2.5s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 1.5s;
}
.snowflake:nth-of-type(9) .inner {
  animation-delay: 3s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(11) {
  left: 65%;
  animation-delay: 2.5s;
}

/************************/
/* ABOUT ME SECTION */
/************************/
.section-about {
  padding: 9.6rem 0;
  background-color: var(--color-white-background);
}

.about-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: var(--color-text-grey);
}

.timeline {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.timeline-title {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: var(--color-button);
  letter-spacing: -0.5px;
}

.timeline-container {

}

.timeline-subtitle {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 700;
  color: var(--color-text-grey);
}

.timeline-box {
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: var(--color-text-grey);
}

/* 
- adicionar música
- fazer sessão about me
- fazer sessão skills
- fazer cta com vídeo de fundo
- fazer footer
- personalizar focus
- adicionar efeitos js
*/